<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Christopher McCoy</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
CSS
============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/616440489d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/myCustom.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<link rel="stylesheet" type="text/css" href="css/animations.css">
	<link rel="stylesheet" type="text/css" href="css/animations-ie-fix.css">




</head>

<body>
	<!-- start banner Area -->
	<section class="banner-area" id="home">
		<!-- Start Header Area -->
		<header class="default-header navbar-fixed-top">
			<nav class="navbar navbar-expand-lg  navbar-light ">
				<div class="container">
					<a style="text-transform: uppercase;font-weight: 600;color: #fff;" class="navbar-brand"
						href="#home">
						<img class="myLogo" style="width:20%;" src="img/myLogo.png" alt="">
						<span class="my-name">Christopher McCoy</span>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="text-white lnr lnr-menu"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end
align-items-center" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="myDis"><a href="#home">Home</a></li>
							<!-- <li class="myDis"><a href="#service">Service</a></li> -->
							<!-- <li class="myDis"><a href="#about">About</a></li> -->
							<li class="myDis"><a href="#testimonials">Testimonials</a></li>
							<li class="myDis"><a href="#resume">Resume</a></li>
							<li id="projectTag" class="myDis"><a href="#project">Projects</a></li>
							<li class="myDis"><a href="#contact">Contact</a></li>
							<li class="myDis"><a href="https://www.linkedin.com/in/christopher-mccoy-8a3131147/"><i
										style="font-size: 25px;" class="fab fa-linkedin"></i></a></li>
							<li class="myDis"><a href="https://github.com/mccoywebdevelopment"><i style="font-size: 25px;"
										class="fab fa-github-square"></i></a></li>

						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header Area -->

		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-6 col-md-12 no-padding banner-right">
					<img class="img-fluid myPic" src="img/header-img.PNG" alt="">
				</div>
				<div class="col-lg-6 col-md-12 banner-left">
					<div class="col-lg-12">
						<span class="text-white">Christopher McCoy</span>
					</div>
					<div class="col-lg-12">
						<h1 class="text-white">Web Developer</h1>
					</div>
					<div class="col-lg-12">
						<p class="mx-auto text-white  mt-20 mb-40" style="padding-left:15px">
							Looking for a web developer?<br> Search no further because I am
							ready for your next big project!
						</p>
					</div>
					<div class="col-lg-12">
						<a href="#contact" style="margin-left:15px" class="text-uppercase header-btn">Let's
							Talk</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-area pt-100" id="testimonials">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">What clients are saying about me.</h1>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-6">
					<div class="card card-test" style="padding:10px;text-align: center;margin-bottom: 40px;">
						<i style="font-size: 40px;color:#75A4FB;margin-top:10px;margin-bottom:10px" class="fas fa-quote-right"></i>
						<div class="card-body card-body-test" style="color: #222222;font-weight:500;">
							Chris is a true professional. He takes his time to make sure he fully understands all the requirements of the project and always delivers. He keeps you updated and works with you to make sure you're getting exactly what you want. Great working with him!
						</div>

						<a href="https://www.linkedin.com/in/brianquinn28/"><img class="test-pic test-pic-2" style="border-radius: 50%;width: 20%;" src="img/brian_quinn.jpeg"></a>

						<p class="card-body" style="font-weight: 500;font-size: 15px;color: #222222;margin-bottom:0px;padding-bottom:0px;">Brian Quinn</p>
						<p class="card-body" style="font-weight: 500;padding:0px">Founder at Learnshare</p>

					</div>
				</div>

				<div class="col-lg-6">
					<div class="card card-test" style="padding:10px;text-align: center;">
						<i style="font-size: 40px;color:#75A4FB;margin-top:10px;margin-bottom:10px" class="fas fa-quote-right"></i>
						<div class="card-body card-body-test" style="color: #222222;font-weight:500;">
							Christopher was such a pleasure to work with. I am so please with the outcome of the addition he was able to make to my website and he was super easy to work with. I would definitely recommend him to anyone in need of any custom coding on their website. Thank you thank you!
						</div>

						<a href="https://www.linkedin.com/in/brooke-lea-wood-6a5389b0/"><img class="test-pic test-pic-1" style="border-radius: 50%;width: 20%;" src="img/brooke_wood.jpeg"></a>

						<p class="card-body" style="font-weight: 500;font-size: 15px;color: #222222;margin-bottom:0px;padding-bottom:0px;">Brooke Wood</p>
						<p class="card-body" style="font-weight: 500;padding:0px">Website Designer</p>

					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End about Area -->

	<!-- Start qualification Area -->
	<section id="resume" class="qualification-area pt-100 pb-80">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-20 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">My Qualifications</h1>
						<p>Which are always increasing.</p>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6 col-md-6 qty-left">
					<div class="single-qly">
						<h3 class="text-uppercase">Freelancing</h3>
						<p>Janurary 2020 to Present</p>
						<h4 class="pt-20 pb-20">Frontend Engineer</h4>
						<ul class="my-ul">
							<li>Developed a custom chat application that has the same look and feel as Slack for the startup company
								Learnshare</li>
							<li>Generated design frameworks designed to encourage maximal user response rate to authenticate users via email
								response</li>
							<li>Proven experience developing consumer-focused website using the following technologies
								React, Angular, Node.js, and Bootstrap</li>
						</ul>
					</div>
					<div class="btm-border d-block mx-auto"></div>
					<div class="single-qly">

						<h4 class="pb-20">Web Development Certificate</h4>
								<p><b>Session</b>: 2017-2018</p>
								<p><b>Result</b>: Udemy Certificate</p>
					</div>
					<div class="btm-border d-block mx-auto"></div>
					<div class="single-qly">

						<h4 class="pb-20">Mesa Community College</h4>
								<p><b>Session</b>: 2017-2018</p>
								<p><b>Result</b>: Associates Degree specilaizing in software</p>
					</div>
					<!-- <div class="btm-border d-block mx-auto"></div>
<div class="single-qly">
<h3 class="text-uppercase">Cognizant</h3>
<p>May 2019 to Janurary 2020</p>
<h4 class="pt-20 pb-20">Developer</h4>
<ul class="my-ul">
<li>Assembled and addressed technical and design requirements, integrating user-facing and front-end elements
with React to increase user traffic by 10%</li>
<li>Generated design frameworks designed to encourage maximal user response rate to authenticate users via email
response</li>
<li>Proven experience developing consumer-focused website using the following technologies HTML, CSS,
Node.js, and Bootstrap</li>
<li>Increase code reusability by creating fully dynamic JavaScript (ES6) React components to increase productivity
by 30%
</li>	
</ul>
</div> -->
				</div>
				<div class="col-lg-6 col-md-6 qty-right">
					<div class="single-qly">

						<h3 class="text-uppercase">Arizona State University</h3>
						<p>August 2018 to May 2019</p>
						<h4 class="pt-20 pb-20">Web Developer</h4>
						<ul class="my-ul">
							<li>Created a Drupal Web Spark appointment module that synchronizes and manages data from
								Google Calendar</li>
							<li>Operated as a team to achieve minimum viable product of the calendar system before the
								deadline </li>
							<li>Utilized Git to update and backup source code from all team members</li>
						</ul>
					</div>
					<div class="btm-border d-block mx-auto"></div>
					<div class="single-qly">
						<h3 class="text-uppercase">Rent Items</h3>
						<p>Summer 2018</p>
						<h4 class="pt-20 pb-20">Software Engineering Intern</h4>
						<ul class="my-ul">
							<li>Consulted with the CEO to ascertain organizational requirements, then compiled, refined,
								and generated
								webpage roadmap to achieve objectives</li>
							<li>Presented UX designs and solutions to senior staff, evangelizing for user-centric design
								decisions</li>
						</ul>
					</div>
				</div>
				<!-- <div class="btm-border d-block mx-auto"></div> -->
			</div>
		</div>
	</section>
	<!-- End qualification Area -->
	<!---===================================================Big screen=======================================================================================-->
	<section class="project-area section-ga myBigScreen" id="project" style="padding-bottom:100px">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mt-20">Latest Projects</h1>
					</div>
				</div>
			</div>

			<div class="row pb-100">
				<div class="col-lg-6">
					<div class="single-project">
						<div class="img-container">
							<img class="img-fluid" src="img/med_app.png" alt="">
							<div class="img-contents centered" style="display:none">
								<a target="_blank" rel="noopener noreferrer" href="https://med-app-testing.herokuapp.com/auth/login/t@gmail.com/Test123!"
									class="text-uppercase header-btn project-btn" style="cursor:pointer">View Application<i
										style="margin-left:10px" class="fas fa-eye"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-project">
						<h4 class="pb-30">Medical Dashboard</h4>
						<p>
							A MERN stack application which I donated to a local children's home Sunshine Acres. In this application parents and nurses can easily create, update children's medical records fast and securely. It also incorporates an email authentication system where admins can add users to their environment.
							<p class="tech mb-0">
								Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="React" class="fab fa-react"></i>
								<i data-toggle="tooltip" title="Node.js" style="margin-left:20px"
									class="fab fa-node"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px"
									class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="Email Token Auth" style="margin-left:20px"
									class="fas fa-shield-alt"></i>
							</span>
							</p>
					</div>
				</div>
			</div>

			<div class="row pb-100">
				<div class="col-lg-6">
					<div class="single-project">
						<h4 class="pb-30">Learnshare Chat Application</h4>
						<p>
							This application is design to send/receive messages, posts, and polls from students and teachers. This was accomplished with a custom messaging API system that integrated socket.io an npm package. To establish end-to-end encryption the API would receive a unique firebase token from the client then challenged.
							
							<p class="tech mb-0">
								Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="Angular" class="fab fa-angular"></i>
								<i data-toggle="tooltip" title="Node.js" style="margin-left:20px"
									class="fab fa-node"></i>
								<i data-toggle="tooltip" title="Gitlab" style="margin-left:20px"
									class="fab fa-gitlab"></i>
								<i data-toggle="tooltip" title="Firebase" style="margin-left:20px"
									class="fas fa-fire-alt"></i>
							</span>
							</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-project">
						<div class="img-container">
							<img class="img-fluid" src="img/learnshare.png" alt="">
							<div class="img-contents centered" style="display:none">
								<a target="_blank" rel="noopener noreferrer"
									href="https://github.com/mccoywebdevelopment/learnshare-chat-api"
									class="text-uppercase header-btn project-btn"
									style="cursor:pointer;margin-left:20px">
									View Source Code
									<i style="margin-left:10px" class="fab fa-github"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div id="load-all-content">

				<div class="row pb-100">
					<div class="col-lg-6">
						<div class="single-project">
							<div class="img-container">
								<img class="img-fluid" src="img/cashApp.PNG" alt="">
								<div class="img-contents centered" style="display:none">
									<a target="_blank" rel="noopener noreferrer"
										href="https://github.com/mccoywebdevelopment/cash-app"
										class="text-uppercase header-btn project-btn"
										style="cursor:pointer;margin-left:20px">
										View Source Code
										<i style="margin-left:10px" class="fab fa-github"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-project">
							<h4 class="pb-30">Ecommerce Application (for fun)</h4>
							<p>
								An eCommerce single page application that was built using a MERN stack(Mongo, Express.js, React, Node.js). It also incorporates JWT authentication, a custom routing system, and integrated Stripe.js payments. It was a personal project that I did when I had a bunch of free time due to covid.
								
								<p class="tech mb-0">
									Technologies:
								<span style="display:block;font-size:50px">
									<i data-toggle="tooltip" title="React" class="fab fa-react"></i>
								<i data-toggle="tooltip" title="Node.js" style="margin-left:20px"
									class="fab fa-node"></i>
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
								</span>
								</p>
						</div>
					</div>
					
				</div>

				<div class="row pb-100">
					<div class="col-lg-6">
						<div class="single-project">
							<h4 class="pb-30">Google Maps Dynamic Marker Plugin</h4>
							<p>
								A Node.js application that allows users to create fully customizable maps for their businesses with a simple and unique map editor. One of the many features of GMAPS is that users have access to their old map via the user dashboard.
								
								<p class="tech mb-0">
									Technologies:
								<span style="display:block;font-size:50px">
									<i data-toggle="tooltip" title="Node.js" class="fab fa-node"></i>
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
								</span>
								</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-project">
							<div class="img-container">
								<div class="img-container">
									<img class="img-fluid" src="img/gmaps.PNG" alt="">
									<div class="img-contents centered" style="display:none">
										<a target="_blank" rel="noopener noreferrer"
											href="https://github.com/mccoywebdevelopment/google-maps-plugin"
											class="text-uppercase header-btn project-btn"
											style="cursor:pointer;margin-left:20px">
											View Source Code
											<i style="margin-left:10px" class="fab fa-github"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row pb-100">
					<div class="col-lg-6">
						<div class="single-project">

									<img class="img-fluid" src="img/xo8Form.PNG" alt="">
									

						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-project">
							<h4 class="pb-30">XO8COSMECEUTICALS Form</h4>
							<p>
								A form that submits data to two 3rd party services such as Drip and FormSpree.This was accomplished by sending the 3rd party data before and after form submission using webhooks.
								
								<p class="tech mb-0">
									Technologies:
								<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
								</span>
								</p>
						</div>
					</div>
				
				</div>

				<div class="row pb-100">
				
					<div class="col-lg-6">
						<div class="single-project">
							<h4 class="pb-30">Custom Landing Page</h4>
							<p>
								A simple landing page that allows users to notify FASTudy if they're interested in the product. A unique feature of this landing page is the phone mockup slides through all of the features of FASTudy's App.
								
								<p class="tech mb-0">
									Technologies:
								<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
								</span>
								</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-project">
							<img class="img-fluid" src="img/fastudt.PNG" alt="">
						</div>
					</div>
				
				</div>

				<div class="row pb-100">
					
					<div class="col-lg-6">
						<div class="single-project">
							<img class="img-fluid" src="img/optInForm.PNG" alt="">
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-project">
							<h4 class="pb-30">Wordpress Opt In Form</h4>
							<p>
								A WordPress site that uses sends users email updates when they enter their basic information into the customized opt-in form. This was accomplished with a WordPress widget plugin and some custom javascript and CSS.
								
								<p class="tech mb-0">
									Technologies:
								<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
								</span>
								</p>
						</div>
					</div>
				
				</div>



			</div>

			<div class="row d-flex justify-content-center">
				<button style="margin-left:15px" class="text-uppercase header-btn load-all" id="load-all-btn">
				View All</button>
			</div>
		</div>
	</section>
	<!-- <section class="project-area section-ga myBigScreen" id="project" style="padding-bottom:100px">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mt-20">Latest Projects</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 project-left">
					<div class="single-project">
						<h4 class="pb-30"><a href="#">Ecommerce Application</a></h4>
						<p class=" pb-100 ">
							An eCommerce single page application that is built with a MERN
							stack(Mongo, Express.js, React, Node.js). It also incorporates
							JWT authentication, custom routing system, and integrated
							Stripe.js payments. This is a side project that i've worked
							on for about a couple of weeks.
							<br /><br />Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="React" class="fab fa-react"></i>
								<i data-toggle="tooltip" title="Node.js" style="margin-left:20px"
									class="fab fa-node"></i>
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
							</span>
						</p>
					</div>
					<div class="single-project">
						<div class="img-container">
							<img class="img-fluid" src="img/med_app.png" alt="">
							<div class="img-contents centered" style="display:none">
								<a target="_blank" rel="noopener noreferrer" href="https://med-app-testing.herokuapp.com/auth/login/t@gmail.com/Test123!"
									class="text-uppercase header-btn project-btn" style="cursor:pointer">View Application<i
										style="margin-left:10px" class="fas fa-eye"></i>
								</a>
							</div>
						</div>
						<h4 class="pb-30 pt-100"><a href="#">Ecommerce Application</a></h4>
						<p class=" pb-100 ">
							An eCommerce single page application that is built with a MERN
							stack(Mongo, Express.js, React, Node.js). It also incorporates
							JWT authentication, custom routing system, and integrated
							Stripe.js payments. This is a side project that i've worked
							on for about a couple of weeks.
							<br /><br />Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="React" class="fab fa-react"></i>
								<i data-toggle="tooltip" title="Node.js" style="margin-left:20px"
									class="fab fa-node"></i>
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
							</span>
						</p>
					</div>
					<div class="single-project">
						<div class="pb-100">
							<div class="img-container">
								<img class="img-fluid" src="img/gmaps.PNG" alt="">
								<div class="img-contents centered" style="display:none">
									<a target="_blank" rel="noopener noreferrer"
										href="https://github.com/mccoywebdevelopment/google-maps-plugin"
										class="text-uppercase header-btn project-btn"
										style="cursor:pointer;margin-left:20px">
										View Source Code
										<i style="margin-left:10px" class="fab fa-github"></i>
									</a>
								</div>
							</div>
							<h4 class="pt-100 pb-30 ">XO8COSMECEUTICALS Form</h4>
							<p class="pb-100">
								A form that submits data to two 3rd party services such as Drip
								and FormSpree.This was accomplised though hackery because the
								form was submitted on the platform squarespace which is a
								template engine that doesn't have a backend.
							</p>
						</div>
					</div>
					<div class="single-project ">
						<img class="img-fluid" src="img/fastudt.PNG" alt="">
						<h4 class="pt-100 pb-30 "><a href="#">XO8COSMECEUTICALS Map</a></h4>
						<p class="pb-100">
							The inspiration of the web application GMAPS, this project
							was really fun for me because it was my first time working
							with Google Maps API. I also got some experience in web
							scraping because I had to pull over 200 unique locations from
							an old website.
						</p>
					</div>
					<div class="single-project pb-100 ">
						<img style="padding-top:100px;" class="img-fluid" src="img/mcool.PNG" alt="">
					</div>
					<div class="single-project">
						<h4 class="pb-30 "><a href="#">Wordpress Opt In Form</a></h4>
						<p class="">
							A Wordpress site that uses sends user email updates when the
							their enter their basic iformation into the customized opt in
							form. This was accomplished with Wordpress widget plugin and
							some custom javascript and css.
						</p>
					</div>

				</div>










				<div class="col-lg-6 project-right ">
					<div class="single-project pb-100 ">
						<div class="img-container">
							<img class="img-fluid" src="img/cashApp.PNG" alt="">
							<div class="img-contents centered" style="display:none">
								<a target="_blank" rel="noopener noreferrer"
									href="https://github.com/mccoywebdevelopment/cash-app"
									class="text-uppercase header-btn project-btn"
									style="cursor:pointer;margin-left:20px">
									View Source Code
									<i style="margin-left:10px" class="fab fa-github"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="single-project pb-100 ">
						<h4 class="pb-30"><a href="#">Medical Dashboard</a></h4>
						<p class="pb-100 ">
							A MERN(MongoDB,Express.js,React,Node.js) application that was
							developed for a local Childrens home Sunshine Acres. Parents and
							nurse admin can easily create, update, children medical records.
							The application also lets user(s) export data in excel format.
							<br /><br />Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="React" class="fab fa-react"></i>
								<i data-toggle="tooltip" title="Node.js" style="margin-left:20px"
									class="fab fa-node"></i>
								<i data-toggle="tooltip" title="Stripe API" style="margin-left:20px"
									class="fab fa-cc-stripe"></i>
								<i data-toggle="tooltip" title="JWT Auth" style="margin-left:20px"
									class="fas fa-shield-alt"></i>
							</span>
						</p>
						<div>
							<div class="img-container">
								<img class="img-fluid" src="img/cashApp.PNG" alt="">
								<div class="img-contents centered" style="display:none">
									<a target="_blank" rel="noopener noreferrer"
										href="https://github.com/mccoywebdevelopment/cash-app"
										class="text-uppercase header-btn project-btn"
										style="cursor:pointer;margin-left:20px">
										View Source Code
										<i style="margin-left:10px" class="fab fa-github"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="single-project">
						<h4 class="pb-30"><a href="#">GMAPS</a></h4>
						<p class=" pb-100 ">
							A Node.js application that allows users to create fully
							customizable maps for thier businesses with a simple and unique
							map editor. One of the many features of GMAPS is that user have
							access to their old map via the user dashboard.
							<br /><br />Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="Node.js" class="fab fa-node"></i>
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
									class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
									class="fab fa-js"></i>
							</span>
						</p>
						<img class="img-fluid" src="img/xo8Form.PNG" alt="">
					</div>
					<div class="single-project ">
						<h4 class="pb-30 pt-100"><a href="#">FASTudy Landing Page</a></h4>
						<p style="padding-bottom:230px">
							A simple landing page that allows user to notify FASTudy if their
							interested in the product. A unique feature of this landing page
							is the phone mockup slides through all of the features of
							FASTudy's App.
						</p>
						<img class="img-fluid" src="img/x08Map.PNG" alt="">
					</div>
					<div class="single-project ">
						<h4 class="pt-100 pb-30 "><a href="#">Squarespace Affiliate
								Marketing Website</a></h4>
						<p class=" pb-100 ">
							Squarespace website that uses the third party service Rakuten
							Marketing to generate revenue by redirecting to the merchant's
							product homepage. This allows the client to bypass squarespace
							ecommerce platform therefore saving my client
							time and money.
						</p>
					</div>
					<div class="single-project ">
						<img style="padding-top:100px;" class="img-fluid" src="img/optInForm.PNG" alt="">
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<script>
		var success = <%= success %> ;
	</script>

	<section id="contact" class="pt-50 pb-50" style="background-image:
-webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%); height:auto!important">

		<div id="success" style="padding:50px;height:500px;margin-bottom:0px">
			<div class="row animatedParent">
				<div class="col-lg-12 animated growIn">
					<h1 style="color: #FFFFFF; padding-top: 30px;" class="text-center">
						<img src="img/success.png">Success!</h1>
				</div>
			</div>
		</div>
		<div id="belowSuccess"></div>

		<div id="form1" class="container" style="padding-top: 0px;">
			<form id="formPost" method="post" action="/send">
				<div class="row clientFormRow">
					<div class="col-lg-12">
						<h3 style="padding-bottom: 50px;color: #FFFFFF;" class="text-center">Contact Me:</h3>
					</div>
					<div class="col-lg-3">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="firstName" placeholder="First Name"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
							class="single-input">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="lastName" placeholder="Last Name"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
							class="single-input">
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="companyName" placeholder="Company Name"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'" required
							class="single-input">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="emailAddress" placeholder="Email Address"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required
							class="single-input">
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<div class="default-select">
							<select name="fromWhere" id="mySelect" form="formPost">
								<option value="">How did you hear about me?</option>
								<option value="Linkedin">Linkedin</option>
								<option value="Dice">Dice</option>
								<option value="UpWork">UpWork</option>
								<option value="Indeed">Indeed</option>
								<option class="other" value="Other">Other</option>
							</select>
						</div>
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:0px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<textarea form="formPost" name="fromWhereOther" id="otherMsg" style="height:50px"
							class="single-textarea" placeholder="From Where?" onfocus="this.placeholder = ''"
							onblur="this.placeholder = 'From Where?'" required=""></textarea>
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<textarea form="formPost" style="height:40px" name="subject" id="subject"
							class="single-textarea" placeholder="Subject:" onfocus="this.placeholder = ''"
							onblur="this.placeholder = 'Subject:?'" required=""></textarea>
					</div>
				</div>
				<div style="padding-top:20px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<textarea form="formPost" name="message" id="message" class="single-textarea"
							placeholder="Message:" onfocus="this.placeholder = ''"
							onblur="this.placeholder = 'Message:'" required=""></textarea>
					</div>
					<input style="display: none;" type="text" name="captcha" value="null">
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<input class="myInput" type="text" name="challenge" placeholder="What color is the sun?"
							onfocus="this.placeholder = ''" onblur="this.placeholder = 'What color is the sun?'" required
							class="single-input">
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<a id="sendMailBtn" class="genric-btn success">Send Message</a>
					</div>
				</div>
			</form>

		</div>
	</section>
	<script src="js/bootstrap.js"></script>
	<script src="js/css3-animate-it.js"></script>
	<script src="js/clientForm.js"></script>
</body>

</html>