<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Christopher McCoy</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
CSS
============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/616440489d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/myCustom.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<link rel="stylesheet" type="text/css" href="css/animations.css">
	<link rel="stylesheet" type="text/css" href="css/animations-ie-fix.css">




</head>

<body>
	<!-- start banner Area -->
	<section class="banner-area" id="home">
		<!-- Start Header Area -->
		<header class="default-header navbar-fixed-top">
			<nav class="navbar navbar-expand-lg  navbar-light ">
				<div class="container">
					<a style="text-transform: uppercase;font-weight: 600;color: #fff;" class="navbar-brand" href="#home">
						<img class="myLogo" style="width:20%;" src="img/myLogo.png" alt="">
						Christopher McCoy
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
						<span class="text-white lnr lnr-menu"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end
align-items-center" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="myDis"><a href="#home">Home</a></li>
							<!-- <li class="myDis"><a href="#service">Service</a></li> -->
							<li class="myDis"><a href="#about">Tech</a></li>
							<li class="myDis"><a href="#resume">Resume</a></li>
							<li class="myDis"><a href="#project">Projects</a></li>
							<li class="myDis"><a href="#contact">Contact</a></li>

						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header Area -->

		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-6 col-md-12 no-padding banner-right">
					<img class="img-fluid myPic" src="img/header-img.PNG" alt="">
				</div>
				<div class="col-lg-6 col-md-12 banner-left">
						<div class="col-lg-12">
								<h1 class="text-white">Hi, I’m</h1>
						</div>
						<div class="col-lg-12">
								<span class="text-white">Christopher McCoy</span>
						</div>
						<div class="col-lg-12">
								<h1 class="text-white">Web Developer</h1>
						</div>
						<!-- Hi, I’m <br>
						<span>Christopher McCoy</span> <br>
						Web Developer -->
					</h1>
					<p class="mx-auto text-white  mt-20 mb-40" style="padding-left:15px">
						Looking for a web developer?<br> Search no further because I am
						ready for your next big project!
					</p>
					<a href="#contact" style="margin-left:15px;margin-bottom:50px"
					class="text-uppercase header-btn">Let's Talk
						</span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start service Area -->
	<!-- <section class="service-area section-gap" id="service">
<div class="container">
<div class="row d-flex justify-content-center">
<div class="menu-content pb-70 col-lg-8">
<div class="title text-center">
<h1 class="mb-10">Everything Your Project Needs
</h1>
<p>All can be configured to your project needs.</p>
</div>
</div>
</div>
<div class="row">
<div class="single-service col-lg-6 col-md-6 mb-30">
<div class="icon">
<img src="img/s1.png" alt="">
</div>
<div class="dec">
<h4 class="mt-30"><a href="#">Web Design</a></h4>
<p class="mt-20">
I am interested in almost evey feature of design from concept
developement right through to the the nitty gritty final
executions.I have a keen eye for detail, and will work hard to
make sure your website stands out from the crowd!
</p>
</div>
</div>
<div class="single-service col-lg-6 col-md-6 mb-30">
<div class="icon">
<img src="img/s2.png" alt="">
</div>
<div class="dec">
<h4 class="mt-30"><a href="#">24/7 Support</a></h4>
<p class="mt-20">
I am always connected to make sure you get the support you
deserve. Whether I'm out enjoying the fresh air on my mountain
bike or just waking up I will be available as soon as possible!
</p>
</div>
</div>
<div class="single-service col-lg-6 col-md-6">
<div class="icon">
<img src="img/s3.png" alt="">
</div>
<div class="dec">
<h4 class="mt-30"><a href="#">Well Rounded</a></h4>
<p class="mt-20">
To launch your web app as soon as possible you need someone who
can proficiently launch your idea from concept to developement.
I accomplish this by getting all the main requirements such as
the functionality of the app then focus on
the design and smaller features.
</p>
</div>
</div>
<div class="single-service col-lg-6 col-md-6">
<div class="icon">
<img src="img/s4.png" alt="">
</div>
<div class="dec">
<h4 class="mt-30"><a href="#">Experienced</a></h4>
<p class="mt-20">
With over three years experience in web developement and worked
at big companies such as Arizona State University, I will step
in and bring your idea to life.
</p>
</div>
</div>
</div>
</div>
</section> -->
	<!-- End service Arsdfafea -->

	<!-- Start about Area -->
	<section class="about-area section-gap" id="about">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">My Tools</h1>
						<p>The technologies that I primarily use.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 about-center">
					<h4 class="pb-40">Tools Expertness</h4>
					<div class="skillbar " data-percent="85%">
						<div class="skill-bar-percent">Node.js 90%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 90%;"></div>
						</div>
					</div>

					<div class="skillbar " data-percent="60%">
						<div class="skill-bar-percent">React 75%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 75%;"></div>
						</div>
					</div>

					<div class="skillbar " data-percent="90%">
						<div class="skill-bar-percent">HTML & CSS 85%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 80%;"></div>
						</div>
					</div>

					<div class="skillbar  " data-percent="80%">
						<div class="skill-bar-percent">JavaScript 80%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 80%;"></div>
						</div>
					</div>

					<div class="skillbar  " data-percent="75%">
						<div class="skill-bar-percent">React Native 50%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 50%;"></div>
						</div>
					</div>
					<div class="skillbar  " data-percent="70%">
						<div class="skill-bar-percent">mongoDB 70%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 70%;"></div>
						</div>
					</div>
					<div class="skillbar  " data-percent="70%">
						<div class="skill-bar-percent">Angular 40%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 40%;"></div>
						</div>
					</div>
					<div class="skillbar  " data-percent="70%">
						<div class="skill-bar-percent">Photoshop 20%</div>
						<div class="skillwrap">
							<div class="skillbar-bar " style="width: 20%;"></div>
						</div>
					</div>
				</div>
				<!--<div class="col-lg-6 about-right justify-content-end d-flex">
<div class="myself-wrap">

</div>
</div>-->
			</div>
		</div>
	</section>
	<!-- End about Area -->

	<!-- Start qualification Area -->
	<section id="resume" class="qualification-area pt-100 pb-80">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-20 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">My Qualifications</h1>
						<p>Which are always increasing.</p>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6 col-md-6 qty-left">
					<div class="single-qly">
						<h3 class="text-uppercase">Gmaps</h3>
						<p>February 2019 to Present</p>
						<h4 class="pt-20 pb-20">CEO and Full Stack Developer</h4>
						<p>
							My first step to becoming a full stack developer and entrepreneur
						</p>
					</div>
					<div class="btm-border d-block mx-auto"></div>
					<div class="single-qly">
						<h3 class="text-uppercase">ASU</h3>
						<p>August 2018 to December 2018</p>
						<h4 class="pt-20 pb-20">Web Developer</h4>
						<p>
							All users on MySpace will know that there are millions of
							<br>people out there. Every day besides.
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 qty-right">
					<div class="single-qly">
						<h4 class="pb-20">Web Development Certificate</h4>
						<p><b>Session</b>: 2017-18</p>
						<p><b>Result</b>: Udemy Certificate</p>
					</div>
					<div class="btm-border d-block mx-auto"></div>
					<div class="single-qly">
						<h4 class="pb-20">Software Engineer Intern</h4>
						<p><b>Session</b>: 2017-18</p>
					</div>
					<div class="btm-border d-block mx-auto"></div>
					<div class="single-qly">
						<h4 class="pb-20">Associates in Science</h4>
						<p><b>Session</b>: 2016-16</p>
						<p><b>Result</b>: 3.48 (In the Scale of 4.00)</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End qualification Area -->
	<!---===================================================Big screen=======================================================================================-->
	<section class="project-area section-ga myBigScreen" id="project" style="padding-bottom:100px">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mt-20">Latest Projects</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 project-left">
					<div class="single-project">
						<div class="img-container">
							<img class="img-fluid" src="img/cashApp.PNG" alt="">
							<div class="img-contents centered" style="display:none">
								<a target="_blank" rel="noopener noreferrer"
								 href="https://cash-app-1.herokuapp.com/"
								  class="text-uppercase header-btn project-btn"
								style="cursor:pointer">View<i style="margin-left:10px"
								class="fas fa-eye"></i>
								</a>
								<a target="_blank" rel="noopener noreferrer"
								href="https://github.com/robotiness/cash-app"
								class="text-uppercase header-btn project-btn"
								style="cursor:pointer;margin-left:20px">
									View Source Code
									<i style="margin-left:10px" class="fab fa-github"></i>
								</a>
							</div>
						</div>
						<h4 class="pb-30 pt-100"><a href="#">Med App</a></h4>
						<p class=" pb-100 ">
							A MERN(MongoDB,Express.js,React,Node.js) application that was
							developed for a local Childrens home Sunshine Acres. Parents and
							nurse admin can easily create, update, children medical records.
							The application also lets user(s) export data in excel format.
							<br /><br />Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="React" class="fab fa-react"></i>
								<i data-toggle="tooltip" title="Node.js"
								style="margin-left:20px" class="fab fa-node"></i>
								<i data-toggle="tooltip" title="HTML 5"
								style="margin-left:20px" class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3"
								style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript"
								style="margin-left:20px" class="fab fa-js"></i>
							</span>
						</p>
					</div>
					<div class="single-project">

					<div class="pb-100">
						<div class="img-container">
							<img class="img-fluid" src="img/gmaps.PNG" alt="">
							<div class="img-contents centered" style="display:none">
								<!-- <a class="text-uppercase header-btn project-btn"
								style="cursor:pointer">View<i style="margin-left:10px"
								class="fas fa-eye"></i>
								</a> -->
								<a target="_blank" rel="noopener noreferrer"
								href="https://github.com/robotiness/google-maps-plugin"
								class="text-uppercase header-btn project-btn"
								style="cursor:pointer;margin-left:20px">
									View Source Code
									<i style="margin-left:10px" class="fab fa-github"></i>
								</a>
							</div>
						</div>
						<h4 class="pt-100 pb-30 ">XO8COSMECEUTICALS Form</h4>
						<p class="pb-100">
							A form that submits data to two 3rd party services such as Drip
							and FormSpree.This was accomplised though hackery because the
							form was submitted on the platform squarespace which is a
							template engine that doesn't have a backend.
						</p>
					</div>
				</div>
					<div class="single-project ">
						<img class="img-fluid"
							src="img/fastudt.PNG" alt="">
						<h4 class="pt-100 pb-30 "><a href="#">XO8COSMECEUTICALS Map</a></h4>
						<p class="pb-100">
							The inspiration of the web application GMAPS, this project
							was really fun for me because it was my first time working
							with Google Maps API. I also got some experience in web
							scraping because I had to pull over 200 unique locations from
							an old website.
						</p>
					</div>
					<div class="single-project pb-100 ">
							<img style="padding-top:100px;" class="img-fluid"
							src="img/mcool.PNG" alt="">
					</div>
					<div class="single-project">
						<h4 class="pb-30 "><a href="#">Wordpress Opt In Form</a></h4>
						<p class="">
							A Wordpress site that uses sends user email updates when the
							their enter their basic iformation into the customized opt in
							form. This was accomplished with Wordpress widget plugin and
							some custom javascript and css.
						</p>
					</div>

				</div>










				<div class="col-lg-6 project-right ">
					<div class="single-project pb-100 ">
						<h4 class="pb-30"><a href="#">Cash App</a></h4>
						<p class=" pb-100 ">
							A MERN(MongoDB,Express.js,React,Node.js) application that was
							developed for a local Childrens home Sunshine Acres. Parents and
							nurse admin can easily create, update, children medical records.
							The application also lets user(s) export data in excel format.
							<br /><br />Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="React" class="fab fa-react"></i>
								<i data-toggle="tooltip" title="Node.js"
								style="margin-left:20px" class="fab fa-node"></i>
								<i data-toggle="tooltip" title="Stripe API"
								style="margin-left:20px" class="fab fa-cc-stripe"></i>
								<i data-toggle="tooltip" title="JWT Auth"
								style="margin-left:20px"class="fas fa-shield-alt"></i>
							</span>
						</p>
						<div class="img-container">
							<img class="img-fluid" src="img/med-app.PNG" alt="">
							<div class="img-contents centered" style="display:none">
								<!-- <a class="text-uppercase header-btn project-btn"
								style="cursor:pointer">View<i style="margin-left:10px"
								class="fas fa-eye"></i>
								</a> -->
								<a target="_blank" rel="noopener noreferrer"
								href="https://github.com/robotiness/Med-App"
								class="text-uppercase header-btn project-btn"
								 style="cursor:pointer;margin-left:20px">
									View Source Code<i style="margin-left:10px"
									class="fab fa-github"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="single-project">
						<h4 class="pb-30"><a href="#">GMAPS</a></h4>
						<p class=" pb-100 ">
							A Node.js application that allows users to create fully
							customizable maps for thier businesses with a simple and unique
							map editor. One of the many features of GMAPS is that user have
							access to their old map via the user dashboard.
							<br /><br />Technologies:
							<span style="display:block;font-size:50px">
								<i data-toggle="tooltip" title="Node.js" class="fab fa-node"></i>
								<i data-toggle="tooltip" title="HTML 5" style="margin-left:20px" class="fab fa-html5"></i>
								<i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
								<i data-toggle="tooltip" title="JavaScript" style="margin-left:20px" class="fab fa-js"></i>
							</span>
						</p>
							<img class="img-fluid" src="img/xo8Form.PNG" alt="">
					</div>
					<div class="single-project ">
						<h4 class="pb-30 pt-100"><a href="#">FASTudy Landing Page</a></h4>
						<p style="padding-bottom:230px">
							A simple landing page that allows user to notify FASTudy if their
							interested in the product. A unique feature of this landing page
							is the phone mockup slides through all of the features of
							FASTudy's App.
						</p>
							<img class="img-fluid" src="img/x08Map.PNG" alt="">
					</div>
					<div class="single-project ">
						<h4 class="pt-100 pb-30 "><a href="#">Squarespace Affiliate
								Marketing Website</a></h4>
						<p class=" pb-100 ">
							Squarespace website that uses the third party service Rakuten
							Marketing to generate revenue by redirecting to the merchant's
							product homepage. This allows the client to bypass squarespace
							ecommerce platform therefore saving my client
							time and money.
						</p>
					</div>
					<div class="single-project ">
							<img style="padding-top:100px;" class="img-fluid" src="img/optInForm.PNG" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!---===================================================endBig screen===============================================================================-->


	<!-- Start project Area -->
	<!-- <section class="project-area section-gap mySmallScreen" id="project">
<div class="container">

<div class="row d-flex justify-content-center">
<div class="menu-content pb-70 col-lg-8">
<div class="title text-center">
<h1 class="mb-10">Latest Projects</h1>
<p>Contact me and your project could be here too!</p>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<div class="single-project pb-100 ">
<a href="https://gmapsmccoy.herokuapp.com/">
<img class="img-fluid" src="img/gmaps.PNG" alt=""></a>
<h4 class="pt-30 pb-30 "><a href="#">GMAPS</a></h4>
<p class=" pb-100 ">
A node.js application that allows users to create fully customizable maps for thier businesses with a simple and unique map editor. One of the many features of GMAPS is that user have access to their old map via the user dashboard.
</p>
</div>
<div class="col-lg-1">
</div>
</div>
</div>

<div class="row">
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<div class="single-project pb-100 ">
<a href="https://xo8cosmeceuticals.com/premier-providers-form"><img class="img-fluid" src="img/xo8Form.PNG" alt=""></a>
<h4 class="pt-100 pb-30 "><a href="#">XO8COSMECEUTICALS Form</a></h4>
<p class="">
A form that submits data to two 3rd party services such as Drip and FormSpree.This was accomplised though hackery because the form was submitted on the platform squarespace which is a template engine that doesn't have a backend.
</p>
</div>
<div class="col-lg-1">
</div>
</div>
</div>

<div class="row">
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<div class="single-project pb-100 ">
<a href="http://www.fastudy.info"><img class="img-fluid" src="img/fastudt.PNG" alt=""></a>
<h4 class="pt-100 pb-30 "><a href="#">FASTudy Landing Page</a></h4>
<p class=" pb-30 ">
A simple landing page that allows user to notify FASTudy if their interested in the product. A unique feature of this landing page is the phone mockup slides through all of the features of FASTudy's App.
</p>
</div>
<div class="col-lg-1">
</div>
</div>
</div>

<div class="row">
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<div class="single-project pb-100 ">
<a href="https://xo8cosmeceuticals.com/find-a-provider/"><img style="padding-top:0px;" class="img-fluid" src="img/x08Map.PNG" alt=""></a>
<h4 class="pt-100 pb-30 "><a href="#">XO8COSMECEUTICALS Map</a></h4>
<p class="">
The inspiration of the web application GMAPS, this project was really fun for me because it was my first time working with Google Maps API. I also got some experience in web scraping because I had to pull over 200 unique locations from
an old website.
</p>
</div>
<div class="col-lg-1">
</div>
</div>
</div>

<div class="row">
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<div class="single-project pb-100 ">
<a href="https://www.mccoolstyle.com/whats-mccool-now"><img style="padding-top:0px;" class="img-fluid" src="img/mcool.PNG" alt=""></a>
<h4 class="pt-100 pb-30 "><a href="#">Squarespace Affiliate Marketing Website</a></h4>
<p class="">
Squarespace website that uses the third party service Rakuten Marketing to generate revenue by redirecting to the merchant's product homepage. This allows the client to bypass squarespace ecommerce platform therefore saving my client
time and money.
</p>
</div>
<div class="col-lg-1">
</div>
</div>
</div>

<div class="row">
<div class="col-lg-1">
</div>
<div class="col-lg-10">
<div class="single-project pb-100 ">
<a href="http://davidranalli.com/corporate-magician/"><img style="padding-top:0px;" class="img-fluid" src="img/optInForm.PNG" alt=""></a>
<h4 class="pt-100 pb-30 "><a href="#">Wordpress Opt In Form</a></h4>
<p class="">
A Wordpress site that uses sends user email updates when the their enter their basic iformation into the customized opt in form. This was accomplished with Wordpress widget plugin and some custom javascript and css.
</p>
</div>
<div class="col-lg-1">
</div>
</div>
</div>
</div>

</section> -->
	<!-- End project Area -->
	<script>
		// var mySuccess = < %= success % > ;
	</script>

	<section id="contact" class="pt-50 pb-50" style="background-image:
-webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);">

		<div id="success" style="padding-top: 150px;" class="animatedParent">
			<div class="row">
				<div class="col-lg-12 animated growIn">
					<h1 style="color: #FFFFFF; padding-top: 30px;" class="text-center">
						<img src="img/success.png">Success!</h1>
				</div>
			</div>
		</div>
		<div id="belowSuccess"></div>

		<div id="form1" class="container" style="padding-top: 0px;">
			<form id="formPost" method="post" action="/send">
				<div class="row clientFormRow">
					<div class="col-lg-12">
						<h3 style="padding-bottom: 50px;color: #FFFFFF;" class="text-center">Contact Me:</h3>
					</div>
					<div class="col-lg-3">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="firstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="lastName" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="companyName" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'" required class="single-input">
					</div>
					<div class="col-lg-3 customPad4">
						<input class="myInput" type="text" name="emailAddress" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required class="single-input">
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<div class="default-select">
							<select name="fromWhere" id="mySelect" form="formPost">
								<option value="">How did you hear about me?</option>
								<option value="Linkedin">Linkedin</option>
								<option value="Dice">Dice</option>
								<option value="UpWork">UpWork</option>
								<option value="Indeed">Indeed</option>
								<option class="other" value="Other">Other</option>
							</select>
						</div>
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:0px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<textarea form="formPost" name="fromWhereOther" id="otherMsg" style="height:50px" class="single-textarea" placeholder="From Where?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'From Where?'" required=""></textarea>
					</div>
					<div class="col-lg-3">
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<!-- <input class="myInput" type="text" name="subject"
placeholder="Subject" onfocus="this.placeholder = ''"
onblur="this.placeholder = 'Subject'"
required class="single-input"> -->
						<textarea form="formPost" style="height:40px" name="subject" id="subject" class="single-textarea" placeholder="Subject:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject:?'" required=""></textarea>
					</div>
				</div>
				<div style="padding-top:20px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<textarea form="formPost" name="message" id="message" class="single-textarea" placeholder="Message:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message:'" required=""></textarea>
					</div>
				</div>
				<div style="padding-top:50px;" class="row clientFormRow">
					<div class="col-lg-3">
					</div>
					<div class="col-lg-6 customPad4">
						<a id="toForm2" class="genric-btn success">Send Message</a>
					</div>
				</div>

		</div>







		<!--Form2====================================================================================================================================================================================================================================================================================-->

		<!-- <div id="form2" class="container" style="padding-top: 0px;">
<div class="row">
<div class="col-lg-12">
<h3 style="padding-bottom: 50px;color: #FFFFFF;" class="text-center">Tell me about your next project or position.</h3>
</div>
</div>
<div class="row clientFormRow">
<div class="col-lg-3">
</div>
<div class="col-lg-6">
<div class="default-select">
<select name="projectType" id="mySelect" form="formPost">
<option value="">What type of project?</option>
<option value="Web App">Web App</option>
<option value="Landing Page">Landing Page</option>
<option value="Website Revamp">Website Revamp</option>
<option value="Custom Feature">Custom Feature</option>
</select>
</div>
</div>
<div class="col-lg-3">
</div>
</div>

<div style="padding-top:50px;" class="row clientFormRow">
<div class="col-lg-3">
</div>
<div class="col-lg-3 customPad4">
<input name="duration" onblur="this.placeholder = 'Duration of Project?'" class="myInput months" type="number" required class="single-input" min="1" max="30" placeholder="Duration of project?" onfocus="this.placeholder = ''">
</div>
<div class="col-lg-3 customPad4">
<div class="default-select">
<select name="durationUnit" id="mySelect" form="formPost">
<option value="Months">Months</option>
<option value="Days">Days</option>
<option value="Weeks">Weeks</option>
<option value="Years">Years</option>
</select>
</div>
</div>
<div class="col-lg-3">
</div>
</div>

<div style="padding-top:50px;" class="row clientFormRow">
<div class="col-lg-3">
</div>
<div class="col-lg-3 customPad4">
<div class="row">
<div class="col-lg-10">
<h3 style="color: #FFFFFF;padding-left: 20px;">Estimated Budget:</h3>
</div>
<div class="col-lg-2 col-sm-0">
<h3 class="myBudget" style="color: #4cd3e3;font-size: 30px;padding-top: 10px;">$</h3>
</div>
</div>
</div>
need to remove the attribute name then add name to the new one.
<div class="col-lg-3 customPad4 bigBuget">
<input style="height: 100%;font-size:30px;" class="myInput budget" type="number" name="budget" min="50" value="50.00" step="1.00">
</div>
<div class="col-lg-3">
</div>
</div>

<div style="padding-top:50px;" class="row clientFormRow">
<div class="col-lg-3">
</div>
<div class="col-lg-6 customPad4">
<textarea form="formPost" name="clientMsg" class="single-textarea" placeholder="Anything else you would like to add?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Anything else you would like to add?'" required=""></textarea>
</div>
<div class="col-lg-3">
</div>
</div>
<input style="display: none;" type="text" name="captcha" value="null">
<div style="padding-top:50px;" class="row clientFormRow">
<div class="col-lg-3">
</div>
<div class="col-lg-6 customPad4">
<div class="g-recaptcha" data-sitekey="6LfgipIUAAAAAMguDwZkJwHA66qm-iJyywLcYa5m"></div>
</div>
<div class="col-lg-3">
</div>
</div>

<div style="padding-top:50px;" class="row clientFormRow">
<div class="col-lg-3 col-sm-0">
</div>
<div class="col-lg-3 col-sm-6 customPad4">
<a id="backToForm1" class="genric-btn success">Back</a>
</div>
<div class="col-lg-3 col-sm-6 customPad4">
<a id="sendMailBtn" class="genric-btn success">Send</a>
</div>
<div class="col-lg-3  col-sm-0">
</div>
</div>
</form>


</div> -->
	</section>
	<script src="js/css3-animate-it.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="js/clientForm.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>




	<!-- start footer Area -->
	<!-- <footer class="footer-area section-gap">
<div class="container">
<div class="row">
<div class="col-lg-5  col-md-6 col-sm-6">
<div class="single-footer-widget">
<h6>About Me</h6>
<p>
I love mountain biking. I love cheese burgers. I love ultimate frizbee. I love the outdoors.
</p>

<p class="footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>

</div>
</div>
<div class="col-lg-5  col-md-6 col-sm-6">
<div class="single-footer-widget">
<h6>Newsletter</h6>
<p>Stay update with our latest when I actually make this work.</p>
<div class="" id="mc_embed_signup">

<form target="_blank" novalidate="true"  method="get" class="form-inline">

<div class="d-flex flex-row">

<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">


<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
<div style="position: absolute; left: -5000px;">
<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
</div>


</div>
<div class="info"></div>
</form>
</div>
</div>
</div>
<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
<div class="single-footer-widget">
<h6>Follow Us</h6>
<p>Let us be social</p>
<div class="footer-social d-flex align-items-center">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-dribbble"></i></a>
<a href="#"><i class="fa fa-behance"></i></a>
</div>
</div>
</div>
</div>
</div>
</footer> -->
	<!-- End footer Area -->
</body>

</html>
