#clientForm{
	   /*background-color: #F9F9FF;*/
}
.myInput{
	display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
    border-bottom: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.myInput::placeholder{
	color: #FFFFFF;
}
html,
body {
    height: 100%;
}
.default-select>select{
	display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
    border-bottom: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
}
.default-select>select>option{
	color: #89898A;
}
.genric-btn{
	/*background: transparent!important;*/
	font-size: 15px;
	width: 100%;
    color:#fff!important;
}
#form2{
	display: none;
}
#otherMsg{
	display: none;
}
.budget{
    color: #fff;
}
.text-center{
    vertical-align: middle!important;
}
.target2{
height: 150px;
}
.myTest{
    /*width: 200px;*/
}
.navbar-fixed-top{
     position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
.navbar-brand:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#success{
    display: none;
}
.myHidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.myVisible {
  display: : block;
  opacity: 1;
  transition: opacity 2s linear;
}
.mySmallScreen{
  display: none;
}
@media only screen and (max-width: 991px) {
  .myLogo{
    width: 60px!important;
  }
  .myPic{
    padding-left: 25%;
  }

}
@media only screen and (max-width: 801px) {
  .myPic{
    padding-left:0;
  }

}
@media only screen and (max-width: 766px) {
  .myPic{
    display: none!important;
  }

}
@media only screen and (max-width: 371px) {
  .myLogo{
    width: 20px!important;
  }
  .navbar-brand{
    font-size: 13px!important;
  }

}
@media only screen and (max-width: 991px) {
  .clientFormRow{
    padding-top: 0px!important;
  }
  .customPad4{
    padding-top: 30px!important;
  }
  #contact{
    height: 133%!important;
  }
  .myBudget{
    position: absolute;
    top:26px;
  }

}
.img-container{
	position: relative;
	text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 100%;
}
.img-container:hover>img{
	opacity:0.5;
	filter: brightness(25%);
}
.project-btn:hover{
	background: #8193ff;
	color:#fff!important;
	border: 1px solid #fff!important;
}
.pb-200{
	padding-bottom: 200px;
}
.banner-left span {
    text-transform: uppercase;
    font-weight: 700;
		font-size:36px;
}
.banner-left h1{
font-size: 36px;
font-weight: 100;
margin-bottom: 10px!important;
}
